.a {
  color: coral;
  animation: glow 1s linear infinite alternate;
}

.b {
  color: deepskyblue;
}

@keyframes glow {
  from {
    color: coral;
  }
  to {
    color: red;
  }
}

@-webkit-keyframes glow {
  from {
    color: coral;
  }
  to {
    color: red;
  }
}

@-moz-keyframes glow {
  from {
    color: coral;
  }
  to {
    color: red;
  }
}

@-o-keyframes glow {
  from {
    color: coral;
  }
  to {
    color: red;
  }
}
