html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  padding: 0;
}

html .friend {
  margin: 0;
  padding: 0;
}

html.friend {
  margin: 0;
  padding: 0;
}

html body.friend {
  margin: 0;
  padding: 0;
}

body .friend {
  margin: 0;
  padding: 0;
}

body.friend {
  margin: 0;
  padding: 0;
}

html:after {
  margin: 0;
  padding: 0;
}

body:after {
  margin: 0;
  padding: 0;
}

html body:after {
  margin: 0;
  padding: 0;
}

.friend body {
    margin: 0;
    padding: 0;
}

.friend body:after {
    margin: 0;
    padding: 0;
}
