body {
  margin: 0;
  padding: 0;
}

.a,
.b {
  color: red;
}

.a *:not(.b) {
  text-transform: uppercase;
}

.c {
  font-size: 10px;
}

.class-a {
  color: coral;
}

.class-b {
  color: deepskyblue;
}

[data-world] .d {
  padding: 10px 20px;
}

/* no-prefix */
.class-ignore {
  color: hotpink;
}
