.hello body {
  margin: 0;
  padding: 0;
}

.hello .a,
.hello .b {
  color: red;
}

.hello .a *:not(.b) {
  text-transform: uppercase;
}

.hello .c {
  font-size: 10px;
}

.hello .class-a {
  color: coral;
}

.hello .class-b {
  color: deepskyblue;
}

.hello [data-world] .d {
  padding: 10px 20px;
}

/* no-prefix */
.class-ignore {
  color: hotpink;
}
